/*
scs - site color scheme
*/

h2{
    font-size: 3vh;
}
.spacer{
    display: block;
    min-height: 10vh;
}
.spacer2{
    display: block;
    min-height: 1rem;
}
.scs-bg-hdr{
    font-family: 'Press Start 2P', cursive;
    background: -webkit-linear-gradient(orangered, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: fixed;
    border: 5px solid white;
    border-radius: 30px;
}
.nav-container{
    background: -webkit-linear-gradient(#0079d7, #000035);
    color: yellow;
    border: 2px solid #acacac;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.nav-item{
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    font-size: 3vh;
    text-shadow: 2px 2px black;
}
.border-cap-left{
    border-left: 1px solid gray;
}
.border-cap-right{
    border-right: 1px solid gray;
}
.border-cap-lr{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.standard-container{
    background-color: #000035;
    color: white;
    border: 2px solid gray;

}
.footer-container{
    background: -webkit-linear-gradient(#000035, #0079d7);
    color: yellow;
    border: 2px solid #acacac;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.p-top-10{
    padding-top: 10px;
}
.p-bot-10{
    padding-bottom: 10px;
}
.p-lft-10{
    padding-left: 10px;
}
.p-rgt-10{
    padding-right: 10px;
}
.m-top-10{
    margin-top: 10px;
}
.m-bot-10{
    margin-bottom: 10px;
}
.m-lft-10{
    margin-left: 10px;
}
.m-rgt-10{
    margin-right: 10px;
}

@font-face {
    font-family: Pixel;
    src: url("/font/lunchds.ttf");
}
@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: -100% 100%; }
}

#animate-area	{
    background-image: url('https://i.ibb.co/YLMfCFw/pixil-frame-0-2.png');
    background-position: 0px 0px;
    background-repeat: repeat;
    min-height: 100vh;

    animation: animatedBackground 35s linear infinite;
}